
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TWilio</title>
  </head>
    <form action="/orders" method="POST">
      <label for="time">time</label>
      <input id="time" name="time" style="width: 150px">
      <button>Submit</button>
    </form>
  </body>
</html>
