<!DOCTYPE html>
<html lang="en" class="full">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Order Food</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!--External Layouts Custom CSS-->
    <link rel="stylesheet" href="styles/landingPage.css">

  </head>

  <body>
    <!--<h1>Hello World!</h1>-->
        <!--NAVBAR "START"-->
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <!--<img id="restaurantLogo" alt="Restaurant Logo" src="https://nodejs.org/static/images/logos/nodejs-new-pantone-white.png" width="117" height="71">-->
          <button type="button" class="btn btn-lg btn-success pull-right checkout">Checkout</button>
        </div>
      </nav>
      <!--NAVBAR "END"-->

    <!-- Page Content -->
    <div class="container" id="landingPage">
        <!--<div class="row">
            <div class="col-md-6 col-sm-12">
                <h1>The Big Picture</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, iusto, unde, sunt incidunt id sapiente rerum soluta voluptate harum veniam fuga odit ea pariatur vel eaque sint sequi tenetur eligendi.</p>
            </div>
        </div>-->
        <!-- /.row -->
    </div>
    <!-- /.container -->

<!--THUMBNAIL "START"" -->
              <div class="top-buffer">
                <div class="col-md-3 sidebar pull-right">
   <p>Bacon ipsum dolor amet tongue dolore capicola boudin cillum voluptate sunt mollit nulla picanha spare ribs elit qui ball tip ipsum. Adipisicing occaecat chicken eu, tail ribeye jowl picanha mollit brisket sausage short ribs consectetur. Brisket cillum jowl, aliqua leberkas nisi chuck frankfurter in beef non. Tongue ad dolore commodo chicken, lorem adipisicing tail ham hock. Capicola chuck elit, dolore jerky frankfurter est veniam. Nisi veniam mollit sausage doner fugiat aliquip. Tempor filet mignon esse, mollit excepteur tri-tip corned beef laboris commodo drumstick nulla fatback est.

Picanha prosciutto nisi bresaola chicken. Sirloin in tri-tip salami shoulder nostrud adipisicing dolore. Hamburger salami bacon duis. Aliqua dolore dolore doner, ad turkey kevin cupidatat ullamco cillum deserunt.

Consectetur nostrud ball tip, salami shank incididunt venison ribeye officia excepteur. Biltong proident tempor veniam. Pork belly pig sint sunt chicken ipsum turkey, ad shank tail aute pancetta irure voluptate. T-bone alcatra sirloin labore, consequat mollit aliquip ham velit.

Pork belly nostrud cillum, nisi pork nulla tail jerky ham id shankle tri-tip deserunt fugiat pork loin. Tenderloin jerky landjaeger non dolore leberkas. Aliqua in sint cillum, rump filet mignon shoulder pig non cupim. Ball tip ex ham hock dolore, filet mignon picanha spare ribs do pork chop pork loin kevin. Ball tip andouille nulla qui porchetta.

Shank et drumstick exercitation ea in pig reprehenderit shankle corned beef pariatur dolor. Alcatra qui boudin et laborum tempor. Quis in ea, burgdoggen dolore id commodo ut. Cupidatat shoulder sint labore commodo consectetur elit adipisicing mollit alcatra hamburger landjaeger officia frankfurter irure. In in ham adipisicing, ex non pork loin pork chop ut dolore. Magna beef pastrami capicola ut biltong adipisicing turducken corned beef.

Venison dolor filet mignon ground round, in biltong culpa cow ball tip aliquip consectetur shoulder burgdoggen in short ribs. Shoulder tempor duis consequat shank pork loin prosciutto ad in ham short loin. Eiusmod porchetta kielbasa ham elit veniam t-bone adipisicing nostrud labore nulla. Laborum biltong qui, picanha pork chop exercitation officia landjaeger mollit sunt alcatra prosciutto. Jowl dolore deserunt burgdoggen pork chop ut cupidatat. Tail swine laboris shank veniam, venison salami pancetta ham hock doner alcatra strip steak hamburger boudin. Pork loin sed fatback commodo, eiusmod pastrami corned beef short loin.

Deserunt sausage bresaola ipsum pancetta in beef quis ut jerky boudin laboris hamburger. Short ribs spare ribs burgdoggen cupidatat dolore magna landjaeger nisi shankle esse. Labore dolore et swine. Rump veniam enim burgdoggen aliquip voluptate nulla ut sint. Proident ball tip incididunt burgdoggen fugiat shank. Cillum minim jerky, ut eiusmod short ribs hamburger salami.

Strip steak pork chop in ipsum qui sirloin leberkas. Tempor reprehenderit officia, duis corned beef meatloaf ullamco consequat brisket tri-tip nostrud id incididunt. Culpa ad filet mignon, officia in bacon swine pork chop tenderloin chicken. Andouille picanha short loin dolore frankfurter dolore aliqua strip steak in sunt minim t-bone cupidatat. Ball tip et ground round pork chop pig. Irure dolor meatball hamburger ham t-bone. Fugiat cillum qui, cupim commodo pastrami esse pork ground round porchetta pork chop magna doner est.

Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!</p>
   </div>
                  <div class="row" id="foodItems">
                      <!--<div class="col-xs-18 col-sm-6 col-md-4">
                        <div class="thumbnail">
                          <img src="http://placehold.it/500x250/EEE">
                            <div class="caption">
                              <h4>Thumbnail label</h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
                              <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a> <a href="#" class="btn btn-info btn-xs" role="button">Button</a> <a href="#" class="btn btn-default btn-xs" role="button">Button</a>
                          </div>
                        </div>
                      </div>
                      
                      <div class="col-xs-18 col-sm-6 col-md-4">
                        <div class="thumbnail">
                          <img src="http://placehold.it/500x250/EEE">
                            <div class="caption">
                              <h4>Thumbnail label</h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
                              <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a> <a href="#" class="btn btn-info btn-xs" role="button">Button</a> <a href="#" class="btn btn-default btn-xs" role="button">Button</a>
                          </div>
                        </div>
                      </div>
                      
                      <div class="col-xs-18 col-sm-6 col-md-4">
                        <div class="thumbnail">
                          <img src="http://placehold.it/500x250/EEE">
                            <div class="caption">
                              <h4>Thumbnail label</h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
                              <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a> <a href="#" class="btn btn-info btn-xs" role="button">Button</a> <a href="#" class="btn btn-default btn-xs" role="button">Button</a>
                          </div>
                        </div>
                      </div>
                      
                      <div class="col-xs-18 col-sm-6 col-md-4">
                        <div class="thumbnail">
                          <img src="http://placehold.it/500x250/EEE">
                            <div class="caption">
                              <h4>Thumbnail label</h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
                              <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a> <a href="#" class="btn btn-info btn-xs" role="button">Button</a> <a href="#" class="btn btn-default btn-xs" role="button">Button</a>
                          </div>
                        </div>
                      </div>
                      
                      <div class="col-xs-18 col-sm-6 col-md-4">
                        <div class="thumbnail">
                          <img src="http://placehold.it/500x250/EEE">
                            <div class="caption">
                              <h4>Thumbnail label</h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
                              <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a> <a href="#" class="btn btn-info btn-xs" role="button">Button</a> <a href="#" class="btn btn-default btn-xs" role="button">Button</a>
                          </div>
                        </div>
                      </div>
                      
                      <div class="col-xs-18 col-sm-6 col-md-4">
                        <div class="thumbnail">
                          <img src="http://placehold.it/500x250/EEE">
                            <div class="caption">
                              <h4>Thumbnail label</h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
                              <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a> <a href="#" class="btn btn-info btn-xs" role="button">Button</a> <a href="#" class="btn btn-default btn-xs" role="button">Button</a>
                          </div>
                        </div>
                      </div>-->


                      
                </div><!--/row-->
              </div><!--/container -->
                      <!--THUMBNAIL "END""-->


      

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </body>
</html>
