body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
}

.full {
  background: url("https://static.pexels.com/photos/359993/pexels-photo-359993.jpeg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}