body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
}

.full {
  background: url("http://www.zastavki.com/pictures/1920x1200/2011/Food_Differring_meal_Japanese_Cuisine_030312_.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}