body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
}

.full {
  background: url(https://s-media-cache-ak0.pinimg.com/originals/d7/80/bd/d780bd58a0f4fdd09105621efefe8964.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}