body {
  background-color: #EEE;
  font-family: 'Inconsolata', monospace;

  .navbar {
    height: 7em;

    .logo {
      margin-top: 0.9em;
    }

    .order {
      background-color: #8FBC7F;
      border: 0.08em solid #72996C;
      color: white;
      font-family: 'Inconsolata', monospace;
      height: 3em;
      width: 8em;
      margin-top: 0.53em;
    }

    .order:hover {
      color: black;
    }
  }

  .landing-page-text {
    color: white;
    margin: 5em 0 0 1em;

    .restaurant-name {
      font-family: 'Inconsolata', monospace;
      font-size: 5em;
    }

    .restaurant-description {
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      font-family: 'Inconsolata', monospace;
      font-size: 1.5em;
      margin-top: 10em;
      padding: 0.8em;

    }
  }

  .toCart {
    background-color: #72996C;
    color: white;
    padding: 0.4em;
  }
}

.top-buffer {
  margin-top: 60rem;
}

.top-buffer {

  .sidebar {
    background-color: #ADDB94;
    border: 0.25em solid white;
    border-radius: 0.3em;
    color: #333333;
    font-family: 'Inconsolata', monospace;
    font-size: 1.5em;
    height: 58em;
    // opacity: 0.8;

    .yourOrder {
      background-color: white;
      border: 0.3em solid white;
      height: 28em;
    }

    .checkout {
      float: right;
      margin-top: 2em;
    }
  }

  .foodItem {
    font-family: 'Inconsolata', monospace;

    .plus .minus {
      height: 1em;
      width: 1em;
    }

    .quantity {
      font-size: 1.5em;
      margin-left: 1em;
    }
  }
}

.hidden {
  display: none;
}
