body {
  background-color: #EEE;

  .navbar {
    height: 7em;

    .order {
      max-height: 6em;
      max-width: 30em;
    }
  }

  .landing-page-text {
    color: white;
    margin: 4em 0 0 1em;

    .restaurant-name {
      font-size: 4em;
    }

    .restaurant-description {
      font-size: 1.5em;
      margin-top: 10em;
    }
  }
}

.top-buffer {
  margin-top: 60rem;
}

.sidebar {
  background-color: #ADDB94;
  border: 0.5em solid white;
  height: 100em;

  .yourOrder {
    height: 30em;
    border: 0.3em solid white;
    background-color: white;
  }
}

.hidden {
  display: none;
}
